.information {
  background-color: #f2f2f2;
  background-image: url(../../img/info-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.information__block {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 100vw solid #f2f2f2;
    border-top: 8vw solid transparent;
    z-index: -1;
  }
}

.information__text {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  width: 86%;
  margin: 0 auto;
  padding: 42px 7% 62px;
  margin-bottom: 50px;
  br{
    line-height: 30px;
  }
}

.information__list {
  padding-bottom: 287px;
}

.information__item {
  padding-bottom: 30px;
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    margin-top: 8px;
    line-height: 24px;
  }
}
