.price {
  min-height: 510px;
}

.price-table {
  display: flex;
}

.price-table__item--option {
  display: none;
}

.price-table__item {
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-right: 0;
  position: absolute;
  &:last-child {
    border-right: 2px solid #e5e5e5;
  }
}

.price-table__item2{
  width: 87.5%;
  position: relative;
}


.price-table__header {
  background-color: #283645;
  color: #ffffff;
  .price__title {
    margin: 0;
  }
  .price__cost {
    margin: 0;
  }
}

.price__list {
  .price__item {
    padding: 10px;
    border-bottom: 2px solid #e5e5e5;
    &:last-child {
      border-bottom: 0px;
    }
  }
}
