.contacts {
  position: relative;
  font-size: 0;
  z-index: 2;
  padding-bottom: 199px;
  background-image: url(../../img/contacts-bg.jpg);
  background-color: #ebe8e0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .contacts .button {
    display: none; }
  .contacts div {
    background-color: #ffffff; }
  .contacts::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 165px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-right: 50vw solid transparent;
    border-top: 35px solid #ffffff;
    border-left: 50vw solid transparent;
    overflow: hidden; }

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 42px 0 35px;
  background-color: #ffffff; }

.contacts__phone {
  padding-bottom: 25px; }
  .contacts__phone b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 2px; }
  .contacts__phone a {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    display: block;
    color: #d22856; }

.contacts__mail {
  padding-bottom: 28px; }
  .contacts__mail b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 6px; }
  .contacts__mail a {
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    display: block;
    color: #d22856; }

.contacts__map {
  padding-bottom: 38px; }
  .contacts__map b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 6px; }
  .contacts__map p {
    display: block;
    text-align: center;
    font-size: 23px;
    line-height: 1.3em;
    text-decoration: none;
    color: #d22856;
    width: 87.5%;
    margin: 0 auto; }
