@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../../fonts/open-sans-v15-latin_cyrillic-300.woff2") format("woff2"), url("../../fonts/open-sans-v15-latin_cyrillic-300.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../fonts/open-sans-v15-latin_cyrillic-400.woff2") format("woff2"), url("../../fonts/open-sans-v15-latin_cyrillic-400.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/open-sans-v15-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/open-sans-v15-latin_cyrillic-700.woff") format("woff"); }

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-display: swap; }

input, button, a {
  font: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 30px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

p {
  font-size: 18px;
  line-height: 27px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a:visited {
  color: inherit; }

sup {
  font-size: 22px;
  padding-left: 8px;
  line-height: 10px; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 18px;
  padding: 14px 0 16px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .button:hover {
    background-color: #ffffff;
    color: #d22856; }
  .button:active {
    color: #f1becc; }

.container {
  width: 87.5%;
  margin: 0 auto; }

.main-navigation-wraper {
  display: none; }

.closed {
  display: none; }

.open {
  display: block; }

.page-header {
  position: absolute;
  width: 100%;
  z-index: 1; }

.page-header__logo {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .page-header__logo a {
    text-decoration: none; }
  .page-header__logo img {
    padding-top: 22px;
    padding-left: 20px; }

.page-header__logo--open {
  background-color: #283645;
  min-height: 70px;
  border-bottom: 1px solid #000000; }

.main-nav__toggle {
  position: absolute;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: 0; }

.main-nav__toggle--close {
  right: 18px;
  top: 20px;
  background-image: url(../../img/menu-cross.png);
  width: 26px;
  height: 25px; }

.main-nav__toggle--open {
  right: 20px;
  top: 21px;
  background-image: url(../../img/menu-open.png);
  width: 50px;
  height: 24px; }

.site-navigation__item {
  background-color: #283645;
  min-height: 64px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
  padding-top: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px; }
  .site-navigation__item a {
    text-decoration: none;
    color: #ffffff; }

.intro {
  position: relative;
  background-image: url(../../img/intro-bg.jpg);
  background-color: #1d2631;
  background-size: contain, cover;
  background-repeat: no-repeat;
  padding-top: 66px;
  color: #ffffff; }
  .intro .container {
    background-color: #1d2631;
    width: 100%;
    padding: 0 6.25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .intro a {
    margin-top: 423px; }

.system__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 74%;
  margin: 0 auto;
  padding-top: 32px; }

.system__item {
  width: 33.33%; }
  .system__item a {
    font-size: 0; }

.system__item--anroind img {
  padding-left: 13px;
  padding-top: 8px; }

.system__item--windows img {
  padding-left: 23px;
  padding-top: 12px; }

.intro__text {
  text-align: center;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px;
  width: 86%;
  margin: 0 auto;
  padding: 17px 2% 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.information {
  background-color: #f2f2f2;
  background-image: url(../../img/info-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center; }

.information__block {
  background-color: #ffffff;
  position: relative;
  z-index: 2; }
  .information__block::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 100vw solid #f2f2f2;
    border-top: 8vw solid transparent;
    z-index: -1; }

.information__text {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  width: 86%;
  margin: 0 auto;
  padding: 42px 7% 62px;
  margin-bottom: 50px; }
  .information__text br {
    line-height: 30px; }

.information__list {
  padding-bottom: 287px; }

.information__item {
  padding-bottom: 30px; }
  .information__item h3 {
    font-size: 18px;
    text-align: center;
    margin: 0; }
  .information__item p {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    margin-top: 8px;
    line-height: 24px; }

.diagram {
  display: none; }

.slider {
  position: relative; }

.slider input[type="radio"] {
  display: none; }

.slider-controls {
  width: 70px;
  position: absolute;
  left: 6px;
  right: 0;
  bottom: 0px;
  margin: 0 auto; }

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; }

.slider-controls label:not(:last-child) {
  margin-right: 10px; }

.slides {
  padding-bottom: 33px; }

.slide {
  display: none; }
  .slide h3 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding-top: 42px; }
  .slide p {
    font-size: 14px;
    text-align: center;
    padding: 0 6.25%;
    line-height: 2.2em; }

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block; }

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block; }

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block; }

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #ffffff;
  border: 3px solid #283645; }

.price {
  min-height: 510px; }

.price-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.price-table__item--option {
  display: none; }

.price-table__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-right: 0;
  position: absolute; }
  .price-table__item:last-child {
    border-right: 2px solid #e5e5e5; }

.price-table__item2 {
  width: 87.5%;
  position: relative; }

.price-table__header {
  background-color: #283645;
  color: #ffffff; }
  .price-table__header .price__title {
    margin: 0; }
  .price-table__header .price__cost {
    margin: 0; }

.price__list .price__item {
  padding: 10px;
  border-bottom: 2px solid #e5e5e5; }
  .price__list .price__item:last-child {
    border-bottom: 0px; }

.contacts {
  position: relative;
  font-size: 0;
  z-index: 2;
  padding-bottom: 199px;
  background-image: url(../../img/contacts-bg.jpg);
  background-color: #ebe8e0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .contacts .button {
    display: none; }
  .contacts div {
    background-color: #ffffff; }
  .contacts::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 165px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-right: 50vw solid transparent;
    border-top: 35px solid #ffffff;
    border-left: 50vw solid transparent;
    overflow: hidden; }

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 42px 0 35px;
  background-color: #ffffff; }

.contacts__phone {
  padding-bottom: 25px; }
  .contacts__phone b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 2px; }
  .contacts__phone a {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    display: block;
    color: #d22856; }

.contacts__mail {
  padding-bottom: 28px; }
  .contacts__mail b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 6px; }
  .contacts__mail a {
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    display: block;
    color: #d22856; }

.contacts__map {
  padding-bottom: 38px; }
  .contacts__map b {
    text-align: center;
    font-size: 18px;
    display: block;
    padding-bottom: 6px; }
  .contacts__map p {
    display: block;
    text-align: center;
    font-size: 23px;
    line-height: 1.3em;
    text-decoration: none;
    color: #d22856;
    width: 87.5%;
    margin: 0 auto; }

.main__footer {
  display: none; }
